.main {
    width: 100%;
    min-height: 100vh;
    padding: 10px;

    background-color: #4553fd;

}

.divLayout {
    width: 100%;
    min-height: 100%;
    max-width: 565px;    
    padding: 95px 20px 100px 20px;
}

.sectionMain {
    width: 100%;
    min-height: 100%;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #ffff;
}

.divLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.divLogo img {
    width: 375px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form h2{
    font-size: 20px;
    margin: 10px;
}

.form a {
    text-decoration: none;
    color: #0d6efd;
}

.input {
    height: 57px;
    padding: 0 1rem;
    border: solid 3px #e6e7e9;
    border-radius: 10px;
    color: #152037;
    font-size: inherit;
    margin-bottom: 1rem;

}

.divButton {
    align-self: center;
    margin-top: 2rem;
}

.divButton button {
    min-width: 300px;
    background-color: #4553fd;
    color: #ffff;
    border-radius: 10px;
    height: 62px;
    font-size: 22px;
    border: solid 3px #4553fd;
}

.divNewUser {
    display: block;
    text-align: center;
    margin-top: 10px;
}

.divNewUser p {
    font-size: 16px;
    max-width: 300px;
    margin: 0 auto;
    text-align: left;
    position: relative;
}

.loginOptions {
    text-align: center;
    width: 100%;
    border-bottom: solid 1px #E6E7E9;
    margin-top: 50px;

}

.loginOptions h2 {
    position: relative;
    top: 10px;
    width: 196px;
    display: inline-block;


    background-color: #ffff;
    color: #7c728d;
    font-size: 17px;
}
.buttonsOptionsLogin{
    display: flex;
    align-items: row;
    justify-content: center;
    margin-top: 50px;
}
.buttonsOptionsLogin button{
    width: 35% ;
    height: 60px;
    margin: 1rem;

    align-items: center;
    background-color: white;
    border: solid #e6e7e9;
    border-radius: 10px;

}
.footer{
    margin: 6px;
    text-align: center;
}
.footer p{
    margin: 10px;
    font-size: 18px;
}
.footer a{
    text-decoration: none;
}